{#
  Generates C++ declaration
  @grammar:   functionCall : calleeName=NAME '(' (expression (',' expression)*)? ')';
  @param ast ASTFunctionCall
#}
{%- if utils.is_integrate(ast) -%}
{%- include "directives/GSLIntegrator.jinja2" -%}
{%- else -%}
{{printer.print_method_call(ast)}};
{%- endif -%}
