{#-
  Registers recordables for recording
  @param variable VariableSymbol
  @param names Helper class that maps symbols to C++ names
  @param declarations ASTDeclarations helper class
  @result C++ statement
-#}
{%- set varDomain = declarations.getDomainFromType(variable.get_type_symbol()) %}
{%- if varDomain == "double" and variable.is_recordable() %}
insert_("{{variable.get_symbol_name()}}", &{{neuronName}}::{{names.getter(variable)}});
{%- endif %}