{#
  @grammar: returnStmt = "return" Expr?;
  @param: ast A single ast-return stmt object. ASTReturnStmt
#}
{% if ast.has_expression() %}
return {{printer.print_expression(ast.get_expression())}};
{% else %}
return ;
{% endif %}