#include {{ '<' }}stdint.h{{ '>' }}
#include {{ '<' }}math.h{{ '>' }}
#include {{ '<' }}float.h{{ '>' }}

#include {{ '<' }}spinn2.h{{ '>' }}
#include {{ '<' }}spinn_log.h{{ '>' }}

#define {{ neuronName|upper }}_DATA_SPEC 0x00010000
#define {{ neuronName|upper }}_DATA_BASE 0x0001b000

#define {{ neuronName|upper }}_STATUS 0
#define {{ neuronName|upper }}_DEBUG_START 3
#define {{ neuronName|upper }}_DEBUG_SIZE (4000 * 4)

#define {{ neuronName|upper }}_STATUS_RUNNING 0

#define {{ neuronName|upper }}_N_SYNAPSES 2


// enums data specification

inline uint32_t {{ neuronName }}_mem_pos(uint32_t offset) {
    return {{ neuronName|upper }}_DATA_BASE + (offset * 4);
}