
#ifndef _DECAY_H_
#define _DECAY_H_

#include "common/maths-util.h"
#include "common/neuron-typedefs.h"

typedef UFRACT decay_t;
#define decay(x,d) \
  ({ \
    __typeof__ (x) tmp = (x); \
    if      (__builtin_types_compatible_p (__typeof__(x), s1615)) \
      tmp = decay_s1615 (x,d); \
    else if (__builtin_types_compatible_p (__typeof__(x), u1616)) \
      tmp = decay_u1616 (x,d); \
    else if (__builtin_types_compatible_p (__typeof__(x), s015)) \
      tmp = decay_s015 (x,d); \
    else if (__builtin_types_compatible_p (__typeof__(x), u016)) \
      tmp = decay_u016 (x,d); \
    else \
      abort (1); \
    tmp; \
})

#endif // _DECAY_H_