#include "forward_euler.h"

void forward_euler_step(
    ode_rhs_f f,
    float t,
    const float *y,
    float h,
    uint8_t dim,
    const void *neuron_params,
    float *y_out)
{
    float dydt[MAX_STATE_DIM];
    f(t, y, dydt, dim, neuron_params);

    for (uint8_t i = 0; i < dim; ++i)
        y_out[i] = y[i] + h * dydt[i];
}