
#ifndef _NEURON_MODEL_H_
#define _NEURON_MODEL_H_
#include "common/neuron-typedefs.h"
#include "input_types/input_type_conductance.h"
#include "s2app.h"

typedef struct neuron_t* neuron_pointer_t;
typedef struct neuron_params_t neuron_params_t;


REAL neuron_model_state_update(
    input_t exc_input, input_t inh_input, neuron_pointer_t neuron,
    neuron_params_t* neuron_params);

void neuron_model_has_spiked(neuron_pointer_t neuron, neuron_params_t* neuron_params);

REAL neuron_model_get_membrane_voltage(restrict neuron_pointer_t neuron);

void neuron_model_print_state_variables(restrict neuron_pointer_t neuron);

void neuron_model_print_parameters(restrict neuron_pointer_t neuron);

#endif // _NEURON_MODEL_H_
