#ifndef _POPULATION_TABLE_H_
#define _POPULATION_TABLE_H_

#include "common/neuron-typedefs.h"
#include "param_defs.h"
typedef struct master_population_table_entry {
    uint32_t key;
    uint32_t mask;
    uint32_t address_and_row_length;
} master_population_table_entry;

typedef struct population_table_info{
	uint32_t address;
	uint32_t length;
} population_table_info;

bool population_table_initialise();

bool population_table_get_address(spike_t spike, address_t* row_address,
                                  size_t* n_bytes_to_transfer);

void print_population_table();
#endif // _POPULATION_TABLE_H_