#pragma once

typedef struct simulation_config {
    uint32_t timer_period; /// timer period: nr of clock cycles of timer reference clock
    uint32_t n_simulation_ticks; /// number of simulation ticks
} simulation_config;