#ifndef _SPIKE_PROCESSING_H_
#define _SPIKE_PROCESSING_H_
#include {{ '<' }}stdint.h{{ '>' }}

typedef struct routing_target {
  uint8_t qpe_x;
  uint8_t qpe_y;
  uint8_t pes;
  uint8_t _pad0;

} routing_target;

typedef struct routing_info {
    uint32_t key_offset;
    uint32_t n_routing_targets;
    routing_target* routing_targets;
} routing_info;


void send_spikes_to_all_targets(uint32_t key);

#endif // _SPIKE_PROCESSING_H_
