.settings/
target/
.idea/
.vscode
.mypy_cache/
.github/
.pytest_cache/
build/
buildNest/
venv/
spinnaker-install/
spinnaker-target/
report/
nestml-*/
*.egg-info


__*

dist/

PyNESTML.egg-info/

*.pyc

!__init__.py

*.jar
venv

.DS_Store
.project
.classpath
*.gdf
*~
*.iml
