.settings/
target/
.idea/
.mypy_cache/
.eggs/
build/
buildNest/
venv/


__*

dist/

PyNESTML.egg-info/

*.pyc

!__init__.py

*.jar
venv

.DS_Store
.project
.classpath
*.gdf
*~
*.iml
/generated/
/NESTML.egg-info/
.pydevproject
linkingModel.py


/generated_aeif_cond_alpha/
/generated_goal/
/generated_snapshot/
/generated_RingBufferStar/
/generated_cout/
