.settings/
target/
.idea/
.mypy_cache/
build/
buildNest/

__*

dist/

PyNESTML.egg-info/

*.pyc

!__init__.py

pynestml/grammars/antlr-4.7-complete.jar
venv

.DS_Store
.project
.classpath
*.gdf
*~
*.iml
