language: python

sudo: true

python: "3.8"

addons:
  apt:
    packages:
      - build-essential
      - cmake
      - libltdl7-dev
      - libgsl0-dev
      - libncurses5-dev
      - libreadline6-dev
      - pkg-config
      - python-all-dev
      - python-matplotlib
      - python-numpy
      - python-scipy

before_install:
  # in before_install, we install all the NESTML dependencies

  # install antrl4
  - sudo apt install openjdk-8-jre
  - wget http://www.antlr.org/download/antlr-4.8-complete.jar
  - echo \#\!/bin/bash > antlr4
  - echo java -cp \"`pwd`/antlr-4.8-complete.jar:$CLASSPATH\" org.antlr.v4.Tool \"\$@\" >> antlr4
  - echo >> antlr4
  - chmod +x antlr4
  - export PATH=$PATH:`pwd`

  # install Python module dependencies
  - pip install --upgrade pip pytest
  - pip install -r requirements.txt
  - pip uninstall --yes sympy
  - pip install sympy==1.4
  - pip install pycodestyle

  # install latest odetoolbox from git master (N.B. GSL/PyGSL installation is skipped as NESTML ignores stiffness test result)
  - pip uninstall --yes odetoolbox
  - pip install https://github.com/clinssen/ode-toolbox/archive/log_level.zip


install:
  # in install, we install NESTML itself
  - export PYTHONPATH=$PYTHONPATH:`pwd`
  - echo $PYTHONPATH
  - python setup.py install

before_script:
  # use antlr4 to re-generate lexer+parser
  - cd $TRAVIS_BUILD_DIR
  - find pynestml/generated -not -name __init__.py -a -not -name generated -delete
  - cd pynestml/grammars
  - ./generate_lexer_parser
  - cd ../..

stages:
  - pycodestyle
  - test
  - integration

jobs:
  include:
    - stage: pycodestyle
      script: python3 extras/codeanalysis/check_copyright_headers.py && python3 -m pycodestyle /home/travis/build/nest/nestml -v --ignore=E241,E501,E303,E714,E713,E714,E252,W503 --exclude=/home/travis/build/nest/nestml/doc,/home/travis/build/nest/nestml/.git,/home/travis/build/nest/nestml/NESTML.egg-info,/home/travis/build/nest/nestml/pynestml/generated,/home/travis/build/nest/nestml/extras,/home/travis/build/nest/nestml/build

    - stage: test
      script: pytest -s -o norecursedirs='*'  -o log_cli=true -o log_cli_level="DEBUG" tests

    - stage: integration
      install:
        # install nest-simulator
        - pip install cython
        - cd
        - git clone --depth=1 https://github.com/nest/nest-simulator
        - mkdir nest_install
        - cd nest_install
        - export PYTHON_INCLUDE_DIR=`python3 -c "from sysconfig import get_paths; info = get_paths(); print(info['include'])"`
        - echo "--> Detected PYTHON_INCLUDE_DIR=$PYTHON_INCLUDE_DIR"
        - export PYTHON_LIB_DIR_BASE=lib`basename $PYTHON_INCLUDE_DIR`
        - echo "--> Detected PYTHON_LIB_DIR_BASE=$PYTHON_LIB_DIR_BASE"
        - export PYTHON_LIB_DIR=$(dirname `sed 's/include/lib/' <<< $PYTHON_INCLUDE_DIR`)
        - echo "--> Detected PYTHON_LIB_DIR=$PYTHON_LIB_DIR"
        - export PYTHON_LIBRARY=`find $PYTHON_LIB_DIR \( -name $PYTHON_LIB_DIR_BASE.so -o -name $PYTHON_LIB_DIR_BASE.dylib \) -print -quit`
        - echo "--> Detected PYTHON_LIBRARY=$PYTHON_LIBRARY"
        - export CONFIGURE_PYTHON="-DPYTHON_LIBRARY=$PYTHON_LIBRARY -DPYTHON_INCLUDE_DIR=$PYTHON_INCLUDE_DIR"
        - cmake -DCMAKE_INSTALL_PREFIX=~/nest_install -DPYTHON_LIBRARY=$PYTHON_LIB_DIR -DPYTHON_INCLUDE_DIR=$PYTHON_INCLUDE_DIR ~/nest-simulator
        - make && make install 

        # install NESTML itself
        - cd $TRAVIS_BUILD_DIR
        - PYPATH=`find /home/travis/virtualenv -name "site-packages" | grep "python3.8" | head -n 1`
        - echo $PYPATH
        - export PYTHONPATH=$PYTHONPATH:$PYPATH
        - echo "--> Detected PYTHONPATH=$PYTHONPATH"
        - echo $PYTHONPATH
        - python setup.py install

      script:
        - nestml --input_path models --target_path target --suffix _nestml --logging_level INFO --module_name nestml_allmodels_module
        - cd target
        - cmake -Dwith-nest=/home/travis/nest_install/bin/nest-config .
        - make && make install
        - cd ..
        - export PYNESTKERNEL_LOCATION=`find /home/travis/nest_install/lib -name pynestkernel.so`
        - export PYNESTKERNEL_LOCATION=`dirname $PYNESTKERNEL_LOCATION`
        - export PYNESTKERNEL_LOCATION=`dirname $PYNESTKERNEL_LOCATION`
        - echo $PYNESTKERNEL_LOCATION
        - export PYTHONPATH=$PYTHONPATH:$PYNESTKERNEL_LOCATION
        # tests have to run in separate processes, hence the loop over files. This works better than pytest-xdist and pytest-forked, because they cannot show debug (stdout) output.
        - |
          rc=0
          for fn in $TRAVIS_BUILD_DIR/tests/nest_tests/*.py; do
              pytest -s -o log_cli=true -o log_cli_level="DEBUG" ${fn} || rc=1
          done;
          exit $rc
