language: python

python:
  - "2.7"
  - "3.5"
  - "3.6"

before_install:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)
  - sudo python setup.py install --user

install:
  - pip install --upgrade pip enum34
  - pip install -r requirements.txt

sudo: false

script:
  - mypy pynestml/ --ignore-missing-imports --follow-imports=silent
  - python tests/LexerParserTest.py
  - python tests/SpecialBlockParserBuilderTest.py
  - python tests/ExpressionParserTest.py
  - python tests/ASTBuilderTest.py
  - python tests/SymbolTableBuilderTest.py
  - python tests/SymbolTableResolutionTest.py
  - python tests/CoCosTest.py
  - python tests/PyNestMLFrontendTest.py
  - python tests/NESTMLTest.py
  - python tests/ExpressionTypeCalculationTest.py

