# note: copy any changes to doc/requirements.txt
numpy >= 1.8.2
scipy
sympy >= 1.1.1, <1.11
antlr4-python3-runtime == 4.13.2
setuptools
Jinja2 >= 2.10
typing;python_version<"3.5"
astropy
odetoolbox >= 2.4
