// Interesting template in NewModelTemplate/c_models/src/my_models/playsticity/stdp/timing_dependence/my_timing.h => _timing_impl.h
// maybe this s not necessaryif we just base the synapse on 'synapse_dynamics_stdp_mad_impl.c' which implements as a synapse base class
// alternatively we could copy that file here for changes
