APP = $(notdir $(CURDIR))
BUILD_DIR = build/ 
 
NEURON_IMPL_H = $(EXTRA_SRC_DIR)/my_models/implementations/iaf_psc_exp_nestml_impl.h
SYNAPSE_DYNAMICS = $(EXTRA_SRC_DIR)/my_models/implementations/{{synapseName}}_impl.c
TIMING_DEPENDENCE = $(EXTRA_SRC_DIR)/my_models/implementations/{{synapseName}}_timing_impl.c
TIMING_DEPENDENCE_H = $(EXTRA_SRC_DIR)/my_models/implementations/{{synapseName}}_timing_impl.h
WEIGHT_DEPENDENCE = $(EXTRA_SRC_DIR)/my_models/implementations/{{synapseName}}_weight_impl.c
WEIGHT_DEPENDENCE_H = $(EXTRA_SRC_DIR)/my_models/implementations/{{synapseName}}_weight_impl.h

include ../extra.mk
