#find all directories of synapse and neuron models
IMPL_DIRS := $(wildcard *_impl)

all:
	for dir in $(IMPL_DIRS); do \
		$(MAKE) -C $$dir; \
	done

clean:
	for dir in $(IMPL_DIRS); do \
		$(MAKE) -C $$dir clean; \
	done

# declare all model directories as phony targets
.PHONY: all clean $(IMPL_DIRS)
