/*
 *  {{ neuronName }}.h
 *
 *  This file is part of NEST GPU.
 *
 *  Copyright (C) 2021 The NEST Initiative
 *
 *  NEST GPU is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  NEST GPU is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with NEST GPU.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

#ifndef {{ neuronName.upper() }}_H
#define {{ neuronName.upper() }}_H

#include <iostream>
#include <string>
#include "cuda_error.h"
#include "rk5.h"
#include "node_group.h"
#include "base_neuron.h"
#include "neuron_models.h"

#define MIN(a,b) (((a)<(b))?(a):(b))

extern __constant__ float NESTGPUTimeResolution;

namespace {{ neuronName }}_ns
{
enum ScalVarIndexes {
{%- for variable_symbol in neuron.get_state_symbols() %}
{%-     set variable = utils.get_state_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
  i_{{ printer_no_origin.print(variable) }},
{%- endfor %}
  N_SCAL_VAR
};

enum ScalParamIndexes {
{%- for variable_symbol in neuron.get_parameter_symbols() %}
{%-     set variable = utils.get_parameter_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
  i_{{ printer_no_origin.print(variable) }},
{%- endfor %}

{%- for variable_symbol in neuron.get_internal_symbols() %}
{%-     set variable = utils.get_internal_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
  i_{{ printer_no_origin.print(variable) }},
{%- endfor %}

{%- for variable_symbol in neuron.get_continuous_input_ports() %}
{%-     set variable = utils.get_input_port_by_name(astnode.get_input_blocks(), variable_symbol.get_symbol_name()) %}
  i_{{ variable.get_name() }},
{%- endfor %}
  N_SCAL_PARAM
};

enum PortVarIndexes {
{%- for variable_symbol in neuron.get_spike_input_ports() %}
{%-     set variable = utils.get_input_port_by_name(astnode.get_input_blocks(), variable_symbol.get_symbol_name()) %}
  i_{{ variable.get_name() }},
{%- endfor %}
  N_PORT_VAR
};

{%- if uses_numeric_solver %}
enum GroupParamIndexes {
  i_h_min_rel = 0,  // Min. step in ODE integr. relative to time resolution
  i_h0_rel,         // Starting step in ODE integr. relative to time resolution
  N_GROUP_PARAM
};
{%- endif %}

const std::string {{ neuronName }}_scal_var_name[N_SCAL_VAR] = {
{%- for variable_symbol in neuron.get_state_symbols() %}
{%-     set variable = utils.get_state_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
  "{{ printer_no_origin.print(variable) }}",
{%- endfor %}
};

const std::string {{ neuronName }}_scal_param_name[N_SCAL_PARAM] = {
{%- for variable_symbol in neuron.get_parameter_symbols() %}
{%-     set variable = utils.get_parameter_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
  "{{ printer_no_origin.print(variable) }}",
{%- endfor %}

{%- for variable_symbol in neuron.get_internal_symbols() %}
{%-     set variable = utils.get_internal_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
  "{{ printer_no_origin.print(variable) }}",
{%- endfor %}

{%- for variable_symbol in neuron.get_continuous_input_ports() %}
{%-     set variable = utils.get_input_port_by_name(astnode.get_input_blocks(), variable_symbol.get_symbol_name()) %}
  "{{ variable.get_name() }}",
{%- endfor %}
};

const std::string {{neuronName}}_var_name[N_PORT_VAR] = {
{%- for variable_symbol in neuron.get_spike_input_ports() %}
{%-     set variable = utils.get_input_port_by_name(astnode.get_input_blocks(), variable_symbol.get_symbol_name()) %}
  "{{ variable.get_name() }}",
{%- endfor %}
};

{%- if uses_numeric_solver %}
const std::string {{ neuronName }}_group_param_name[N_GROUP_PARAM] = {
  "h_min_rel",
  "h0_rel"
};
{%- endif %}

{#
//
// I know that defines are "bad", but the defines below make the
// following equations much more readable.
// For every rule there is some exceptions!
//
#define I_syn_ex y[i_I_syn_ex]
#define I_syn_in y[i_I_syn_in]
#define V_m y[i_V_m]
#define w y[i_w]

#define dVdt dydx[i_V_m]
#define dwdt dydx[i_w]
#define dI_syn_exdt dydx[i_I_syn_ex]
#define dI_syn_indt dydx[i_I_syn_in]

#}

{%- if uses_numeric_solver %}
{%- for variable_symbol in utils.adjusted_state_symbols(neuron) %}
{%-     set variable = utils.get_state_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
#define {{ printer_no_origin.print(variable) }} y[i_{{ printer_no_origin.print(variable) }}]
{%- endfor %}
{%- else %}
{%- for variable_symbol in neuron.get_state_symbols() %}
{%-     set variable = utils.get_state_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
#define {{ printer_no_origin.print(variable) }} var[i_{{ printer_no_origin.print(variable) }}]
{%- endfor %}
{%- endif %}

{%- for variable_symbol in neuron.get_parameter_symbols() %}
{%-     set variable = utils.get_parameter_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
#define {{ printer_no_origin.print(variable) }} param[i_{{ printer_no_origin.print(variable) }}]
{%- endfor %}

{%- for variable_symbol in neuron.get_internal_symbols() %}
{%-     set variable = utils.get_internal_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
#define {{ printer_no_origin.print(variable) }} param[i_{{ printer_no_origin.print(variable) }}]
{%- endfor %}

{%- for variable_symbol in neuron.get_continuous_input_ports() %}
{%-     set variable = utils.get_input_port_by_name(astnode.get_input_blocks(), variable_symbol.get_symbol_name()) %}
#define {{ variable.get_name() }} param[i_{{ variable.get_name() }}]
{%- endfor %}

//TODO: to be defined?
{# #define t_ref param[i_t_ref]
#define refractory_step param[i_refractory_step]
#define den_delay param[i_den_delay] #}

{%- if uses_numeric_solver %}
#define h_min_rel_ group_param_[i_h_min_rel]
#define h0_rel_ group_param_[i_h0_rel]
{%- endif %}

}; //namespace

{%- if uses_numeric_solver %}
struct {{neuronName}}_rk5
{
  int i_node_0_;
};
{%- endif %}

class {{ neuronName }} : public BaseNeuron
{
 public:
{%- if uses_numeric_solver %}
  RungeKutta5<{{neuronName}}_rk5> rk5_;
  float h_min_;
  float h_;
  {{neuronName}}_rk5 rk5_data_struct_;
{%- endif %}

  ~{{ neuronName }}();

  int Init(int i_node_0, int n_neuron, int n_port, int i_group,
	   unsigned long long *seed);

  int Calibrate(double, float time_resolution);

  int Update(long long it, double t1);

{%- if uses_numeric_solver %}
  int GetX(int i_neuron, int n_node, double *x) {
    return rk5_.GetX(i_neuron, n_node, x);
  }
  
  int GetY(int i_var, int i_neuron, int n_node, float *y) {
    return rk5_.GetY(i_var, i_neuron, n_node, y);
  }

  template<int N_PORT>
    int UpdateNR(long long it, double t1);
{%- endif %}

  int Free();

};


#endif
