{#
  Handles a complex block statement
  @grammar: Block = ( Stmt | NEWLINE )*;
  @param ast ASTBlock
#}
{% for statement in ast.get_stmts() -%}
{% filter indent(2,True) -%}
{% with stmt = statement -%}
{% include "Statement.jinja2" -%}
{% endwith -%}
{% endfilter %}
{% endfor -%}