{#
  Handles the compound statement.
  @grammar: Compound_Stmt = IF_Stmt | FOR_Stmt | WHILE_Stmt;
#}
{%- if stmt.isIfStmt() -%}
{%- with ast = stmt.getIfStmt() -%}
{%- include "IfStatement.jinja2" -%}
{%- endwith -%}
{%- elif stmt.isForStmt() -%}
{%- with ast = stmt.getForStmt() -%}}
{%- include "ForStatement.jinja2" -%}
{%- endwith -%}
{%- elif stmt.isWhileStmt() -%}
{%- with ast = stmt.getWhileStmt() -%}}
{%- include "WhileStatement.jinja2" -%}
{%- endwith -%}
{%- endif -%}