{#
  Generates C++ declaration
  @grammar:   functionCall : calleeName=NAME '(' (expression (',' expression)*)? ')';
  @param ast ASTFunctionCall
#}
{%- if utils.isIntegrate(ast) -%}
{%- include "GSLIntegrator.jinja2" -%}
{%- else -%}
{{printer.printMethodCall(ast)}};
{%- endif -%}
