{#
  Generates C++ declaration
  @grammar:   IF_Stmt = IF_Clause
                        ELIF_Clause*
                        (ELSE_Clause)?
                        BLOCK_CLOSE;
                        IF_Clause = "if" Expr BLOCK_OPEN Block;
                        ELIF_Clause = "elif" Expr BLOCK_OPEN Block;

  @param ast ASTIfStmt
#}
if ({{printer.printExpression(ast.get_if_clause().get_condition())}}) {
{%- with ast = ast.get_if_clause().get_block() -%}
{%- include "Block.jinja2" -%}
{%- endwith -%}
{%- for elif in ast.get_elif_clauses() -%}
}else if({{printer.printExpression(elif.get_condition())}}) {
{%- with ast = elif.get_block() -%}
{%- include "Block.jinja2" -%}
{%- endwith -%}
{%- endfor -%}
{%- if ast.has_else_clause() %}
} else { {%- with ast = ast.get_else_clause().get_block() -%}
{%- include "Block.jinja2" -%}
{%- endwith -%}
{%- endif -%}
} /* if end */

