{#
  Generates C++ declaration for a variable

  @param variable VariableSymbol
  @result C++ declaration
#}
{{variable.printComment("//! ")}}
{{declarations.printVariableType(variable)}} {{names.name(variable)}};