{#
  Generates C++ declaration for a variable

  @param variable VariableSymbol
  @result C++ declaration
#}
{% if variable.has_comment() %}
{{variable.print_comment("//! ")}}{% endif %}
{{declarations.printVariableType(variable)}} {{names.name(variable)}};