{#
  In general case creates an

  @param variable VariableSymbol Variable for which the initialization should be done
  @param printer The particular pretty printer which prints expressions. Is used to handel differences where the
                 variable is declared (inside a struct or in another method)
#}
{%- if variable.hasDeclaringExpression() and not variable.isShape() %}
  {%- if variable.hasVectorParameter() %}
  {{printer.printOrigin(variable)}}{{names.name(variable)}}.resize(P_.{{variable.getVectorParameter()}}, {{printer.printExpression(variable.getDeclaringExpression())}}); // as {{variable.getTypeSymbol().printSymbol()}}
  {%- else %}
  {{printer.printOrigin(variable)}}{{names.name(variable)}} = {{printer.printExpression(variable.getDeclaringExpression())}}; // as {{variable.getTypeSymbol().printSymbol()}}
  {%- endif %}
{%- else %}
  {%- if variable.hasVectorParameter() %}
  {{printer.printOrigin(variable)}}{{names.name(variable)}}.resize(0); // as {{variable.getTypeSymbol().printSymbol()}}
  {%- else %}
  {{printer.printOrigin(variable)}}{{names.name(variable)}} = 0; // as {{variable.getTypeSymbol().printSymbol()}}
  {%- endif -%}
{%- endif -%}