{#
  Generates a code snippet that retrieves a data from dictionary and sets it the the model variable.
  @param variable VariableSymbol
  @result C++ Block
#}
{% if not variable.isFunction() %}
  {{declarations.printVariableType(variable)}} tmp_{{names.name(variable)}} = {{names.getter(variable)}}();
  updateValue<{{declarations.printVariableType(variable)}}>(__d, "{{names.name(variable)}}", tmp_{{names.name(variable)}});
{% else -%}
  // ignores '{{names.name(variable)}}' {{declarations.printVariableType(variable)}}' since it is an function and setter isn't defined
{% endif -%}