{#
  @grammar: Stmt = Simple_Stmt ((SL_COMMENT | NEWLINE)* | EOF) | Compound_Stmt;
  @param ast ASTSmallStmt or ASTCompoundStmt
#}
//{{utils.printComments(stmt)}}
{%- if utils.isSmallStmt(stmt) %}
{% include "SmallStatement.jinja2" -%}
{% elif utils.isCompoundStmt(stmt) -%}
{% include "CompoundStatement.jinja2" -%}
{%- endif -%}