{#
  Generates C++ declaration
  @grammar: WHILE_Stmt = "while" Expr BLOCK_OPEN Block BLOCK_CLOSE;
  @param ast ASTWhileStmt
#}
while( {{printer.print_expression(ast.get_condition())}}) {
{% with ast = ast.get_block()) %}
{% include "Block.jinja2" %}
{% endwith %}
} /* while end */