{#
  Generates C++ declaration
  @grammar: WHILE_Stmt = "while" Expr BLOCK_OPEN Block BLOCK_CLOSE;
  @param ast ASTWhileStmt
#}
while( {{printer.printExpression(ast.getCondition())}}) {
{% with ast = ast.getBlock()) %}
{% include "Block.jinja2" %}
{% endwith %}
} /* while end */