{#
  @param variable VariableSymbol
#}
{% if not variable.is_internals() -%}
  def<{{declarations.printVariableType(variable)}}>(__d, "{{variable.get_symbol_name()}}", {{names.getter(variable)}}());
{%- endif -%}