{{ neuronName }}
{% for i in range(neuronName | length) %}={%- endfor %}

{{ neuron.print_comment() }}


Parameters
----------

{{ neuron.print_parameter_comment() }}

{% with block = neuron.get_parameter_blocks() %}
{%- include "block_decl_table.jinja2" %}
{% endwith %}



State variables
---------------

{% with block = neuron.get_initial_blocks() %}
{%- include "block_decl_table.jinja2" %}
{% endwith %}


.. footer::

   Generated at {{ now }}
