{{ synapseName }}
{% for i in range(synapseName | length) %}#{%- endfor %}

{{ synapse.print_comment() | trim | replace('"""', '') | replace('#', '') }}


Parameters
++++++++++

{%- for block in neuron.get_parameter_blocks() %}
{{ block.print_comment() }}
{%- include "block_decl_table.jinja2" %}
{% endwith %}

{%- if synapse.get_state_blocks() is not none %}


State variables
+++++++++++++++

{% with block = synapse.get_state_blocks() %}
{%- include "block_decl_table.jinja2" %}
{%- endwith %}
{%- endif %}
Source code
+++++++++++

.. code-block:: nestml

{{ model_source_code }}


Characterisation
++++++++++++++++

.. include:: {{synapseName}}_characterisation.rst


.. footer::

   Generated at {{ now }}
