{{ synapseName }}
{% for i in range(synapseName | length) %}#{%- endfor %}

{{ synapse.print_comment() | trim | replace('"""', '') | replace('#', '') }}


Parameters
++++++++++

{% for block in synapse.get_parameters_blocks() %}
{{ block.print_comment() }}
{%- include "block_decl_table.jinja2" %}
{%- endfor %}

{%- if synapse.get_state_blocks() %}


State variables
+++++++++++++++

{% for block in synapse.get_state_blocks() %}
{%- include "block_decl_table.jinja2" %}
{%- endfor %}
{%- endif %}
Source code
+++++++++++

The model source code can be found in the NESTML models repository here: `{{synapseName}} <https://github.com/nest/nestml/tree/master/models/synapses/{{synapse.get_artifact_name()}}>`_.


Characterisation
++++++++++++++++

.. include:: {{synapseName}}_characterisation.rst


.. footer::

   Generated at {{ now }}
