Models library
==============

..
   Generated at {{ now }}

Neurons
~~~~~~~

{%- for neuron in neurons %}
- {{ neuron.get_name() }}`_
{%- endfor %}

Synapses
~~~~~~~~

{%- for synapse in synapses %}
- `{{ synapse.get_name() }}`_
{%- endfor %}


