ipykernel
nbsphinx
docutils
sphinx>=6
MarkupSafe==2.1.2
readthedocs-sphinx-ext==2.2.0
nbformat==5.8.0
nbsphinx==0.9.1
typing_extensions==4.5.0
sphinx_rtd_theme==1.2.0
nbclient==0.7.4
sphinx-design

# the following list is a direct copy from requirements.txt in the root directory (requirements for NESTML itself rather than for doc building)
numpy >= 1.8.2
scipy
sympy >= 1.1.1,!= 1.11, != 1.11.1
antlr4-python3-runtime == 4.12
setuptools
Jinja2 >= 2.10
typing;python_version<"3.5"
astropy
odetoolbox >= 2.4
