{#
  Generates C++ declaration of vector for variables with delay
  @param variable VariableSymbol
  @result C++ declaration
#}
  size_t delay_{{variable.get_symbol_name()}}_steps;
  std::vector< double > delayed_{{variable.get_symbol_name()}};
  size_t delayed_{{variable.get_symbol_name()}}_idx;
