{#
Get a value from dictionary.
#}
{%- macro GetValueFromDictionary(dict_name, var_type, variable_name, key_as_str=false) -%}
{%- if not (nest_version.startswith("main") or (nest_version_dict and ((nest_version_dict["major"] == 3 and nest_version_dict["minor"] >= 10) or nest_version_dict["major"] > 3)))  -%}
{%-     if key_as_str -%}
getValue< {{ var_type }} >( {{ dict_name }}, "{{ variable_name }}" )
{%-     else -%}
getValue< {{ var_type }} >( {{ dict_name }}, {{ variable_name }} )
{%-     endif  %}
{%- else -%}
{%-     if key_as_str -%}
{{ dict_name }}.get< {{ var_type }} >( "{{ variable_name }}" )
{%-     else  %}
{{ dict_name }}.get< {{ var_type }} >( {{ variable_name }} )
{%-     endif -%}
{%- endif -%}
{%- endmacro -%}