{%- macro RportToBufferIndexEntry(ports, rport, index=-1) -%}
{%- if index >= 0 -%}
{%- set name = "{}_" ~ index|string %}
{%- else -%}
{%- set name = "{}" %}
{%- endif -%}
  {{ neuronName }}::{{ name.format(ports[0].get_symbol_name().upper()) }}
{%- endmacro -%}
