{#
Write a value into a dictionary.
#}
{%- macro WriteInDictionary(dict_name, variable_type, variable_name, value, key_as_str=false) -%}
{%- if not nest_version.startswith("master")  %}
{%-   if key_as_str %}
def< {{ variable_type }} >({{ dict_name }}, "{{ variable_name }}", {{ value }});
{%-   else %}
def< {{ variable_type }} >({{ dict_name }}, {{ variable_name }}, {{ value }});
{%-   endif  %}
{%- else %}
{%-   if key_as_str %}
{{ dict_name }}[ "{{ variable_name }}" ] = {{ value }};
{%-   else %}
{{ dict_name }}[ {{ variable_name }} ] = {{ value }};
{%-   endif  %}
{%- endif %}
{%- endmacro -%}
