{#
  Generates math expression computable by python for a the internal propagator parameters
  @param result Initial value expression
#}
{%- if type(result.get_initial_value()) is ASTSimpleExpression  %}
    {%- if result.get_initial_value() is not None %}
        "{{ result.get_symbol_name() }}": {{ printer_no_origin.print(result.get_initial_value()).numeric_literal }},
    {%- endif %}
    {%- else %}
        {%- for symbol, value in parameters.items(): %}
             result = result.replace(symbol, str(value))
        {% endfor %}
         "{{ result.get_symbol_name() }}": {{ result }}
{%- endif %}


