{#
  Generates C++ initialization of variables related to delay variables
  @param variable VariableSymbol
  @result C++ declaration
#}
  delayed_{{variable.get_symbol_name()}}_idx = 0;
  delay_{{variable.get_symbol_name()}}_steps = nest::Time::delay_ms_to_steps( {{printer.print_delay_parameter(variable)}} ) +
  1;
  delayed_{{variable.get_symbol_name()}}.resize( delay_{{variable.get_symbol_name()}}_steps );
