{% if variable_symbol.is_inline_expression and not utils.contains_convolve_call(variable_symbol) -%}
inline {{ declarations.print_variable_type(variable_symbol) }} {{ printer_no_origin.print(variable) }} const
{
  return {{ printer.print(variable_symbol.get_declaring_expression()) }};
}
{%- else -%}
inline {{ declarations.print_variable_type(variable_symbol) }} get_{{ printer_no_origin.print(variable) }}() const
{
  return {{ nest_codegen_utils.print_symbol_origin(variable_symbol, variable) % printer_no_origin.print(variable) }};
}

inline void set_{{ printer_no_origin.print(variable) }}(const {{ declarations.print_variable_type(variable_symbol) }} __v)
{
  {{ nest_codegen_utils.print_symbol_origin(variable_symbol, variable) % printer_no_origin.print(variable) }} = __v;
}
{%- endif %}
