{#
  Generates C++ statements that update the delay variables
  @param variable VariableSymbol
#}
    delayed_{{names.name(variable)}} [delayed_{{names.name(variable)}}_idx] = {{printer.print_origin(variable)}}{{names
    .name(variable)}};
    delayed_{{names.name(variable)}}_idx = (delayed_{{names.name(variable)}}_idx + 1) % delay_{{names.name(variable)
    }}_steps;