
  struct Variables_
  {
{%- for variable_symbol in neuron.get_internal_symbols() %}
{%-     set variable = utils.get_internal_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
{%-     filter indent(4) %}
{%-         include "directives/MemberDeclaration.jinja2" %}
{%-     endfilter %}
{%- endfor %}
  };