{#
  Generates C++ declaration
  @grammar: Assignment = variableName:QualifiedName "=" Expr;
  @param ast ASTAssignment
#}
{% set lhsVariable = assignmentsHelper.lhsVariable(ast) %}
{% if assignmentsHelper.isVectorizedAssignment(ast) %}
for (long i=0; i < P_.{{assignmentsHelper.printSizeParameter(ast)}}; i++) {
  {% if lhsVariable.hasVectorParameter() %}
    {{expressionsPrinter.printOrigin(lhsVariable)}} {{namesConverter.name(lhsVariable)}}[i]
  {% else %}
    {{expressionsPrinter.printOrigin(lhsVariable)}} {{namesConverter.name(lhsVariable)}}
  {% endif %}
  {{assignmentsHelper.printAssignmentsOperation(ast)}}
  {{expressionsPrinter.printExpression(ast.getExpression())}};
}
{% else %}
  {{expressionsPrinter.printOrigin(lhsVariable)}}{{namesConverter.name(lhsVariable)}}
  {{assignmentsHelper.printAssignmentsOperation(ast)}}
  {{expressionsPrinter.printExpression(ast.getExpression())}};
{% endif %}
