{#
  Generates C++ declaration
  @grammar:
  declaration :
                (isRecordable='recordable')? (isFunction='function')?
                variable (',' variable)*
                datatype
                ('[' sizeParameter=NAME ']')?
                ( '=' rhs = expression)?
                ('[[' invariant=expression ']]')?;
  @param ast ASTDeclaration
#}

{% for variable in declarationsHelper.getVariables(ast) %}
  {% if ast.hasSizeParameter() %}
    {{declarationsHelper.printVariableType(variable)}} {{variable.getSymbolName()}}(P_.{{declarationsHelper.printSizeParameter(ast)}});
    {% if ast.hasExpression() %}
      for (long i=0; i < get_{{declarationsHelper.printSizeParameter(ast)}}(); i++) {
        {{variable.getSymbolName()}}[i] = {{expressionsPrinter.printExpression(ast.getExpr())}};
      }
    {% endif %}
  {% else %}
    {% if ast.hasExpression() %}
      {{declarationsHelper.printVariableType(variable)}} {{variable.getSymbolName()}} = {{expressionsPrinter.printExpression(ast.getExpr())}};
    {% else %}
      {{declarationsHelper.printVariableType(variable)}} {{variable.getSymbolName()}};
    {% endif %}
  {% endif %}
{% endfor %}
