{%- macro LambdaDeclaration(ast_function) -%}
{%- with function_symbol = ast_function.get_scope().resolve_to_symbol(ast_function.get_name(), SymbolKind.FUNCTION) -%}
{%-     if function_symbol is none -%}
{{ raise('Cannot resolve the method ' + ast_function.get_name()) }}
{%-     endif %}
{{ ast_function.print_comment('//') }}
auto {{ namespace_prefix }}{{ ast_function.get_name() }} = [](
{%-     for param in ast_function.get_parameters() %}
{%-         with typeSym = param.get_data_type().get_type_symbol() -%}
{%-             set p_t = type_symbol_printer.print(typeSym) -%}
{%-             filter indent(1, True) -%}
{{ cm_scalar_t if cm_scalar_t is defined and p_t == "double" else p_t }} {{ param.get_name() }}
{%-                 if not loop.last -%}
,
{%-                 endif -%}
{%-             endfilter -%}
{%-         endwith -%}
{%-     endfor -%}
)
{%- endwith -%}
{%- endmacro -%}
