{#
  @grammar: Small_Stmt = Assignment
                         | FunctionCall
                         | Declaration
                         | ReturnStmt;
  @param ast ASTSmallStmt
#}
{% if ast.isAssignment() %}
{% with ast = ast.getAssignment() %}
{% include "Assignment.html" %}
{% endwith %}
{% elif ast.isFunctionCall() %}
{% with ast = ast.getFunctionCall() %}
{% include "FunctionCall.html" %}
{% endwith %}
{% elif ast.isDeclaration() %}
{% with ast = ast.getDeclaration() %}
{% include "Declaration.html" %}
{% endwith %}
{% elif ast.isReturnStmt() %}
{% with ast = ast.getReturnStmt() %}
{% include "ReturnStatement.html" %}
{% endwith %}
{% endif %}