name: NESTML build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      # Checkout the repository contents
      - name: Checkout NESTML code
        uses: actions/checkout@v2

      # Setup Python version
      - name: Setup Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      # Install dependencies
      - name: Install apt dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libltdl7-dev libgsl0-dev libncurses5-dev libreadline6-dev pkg-config
          sudo apt-get install python3-all-dev python3-matplotlib python3-numpy python3-scipy

      # Install Java
      - name: Install Java 8
        uses: actions/setup-java@v1
        with:
          java-version: '8.0.x'
          java-package: jre

      # Install Antlr4
      - name: Install Antlr4
        run: |
          wget http://www.antlr.org/download/antlr-4.9.1-complete.jar
          echo \#\!/bin/bash > antlr4
          echo java -cp \"`pwd`/antlr-4.9.1-complete.jar:$CLASSPATH\" org.antlr.v4.Tool \"\$@\" >> antlr4
          echo >> antlr4
          chmod +x antlr4
          echo PATH=$PATH:`pwd` >> $GITHUB_ENV

      # Install Python dependencies
      - name: Python dependencies
        run: |
          python -m pip install --upgrade pip pytest
          python -m pip install -r requirements.txt
          python -m pip install pycodestyle

      - name: Install NESTML
        run: |
          echo PYTHONPATH=`pwd` >> $GITHUB_ENV
          python setup.py install

      - name: Generate Lexer and Parser using Antlr4
        run: |
          cd $GITHUB_WORKSPACE
          find pynestml/generated -not -name __init__.py -a -not -name generated -delete
          cd pynestml/grammars
          ./generate_lexer_parser

      # Static code analysis
      - name: Static code style analysis
        run: |
          python3 extras/codeanalysis/check_copyright_headers.py || :
          #python3 -m pycodestyle $GITHUB_WORKSPACE -v --ignore=E241,E501,E303,E714,E713,E714,E252,W503 --exclude=tests --exclude=$GITHUB_WORKSPACE/doc,$GITHUB_WORKSPACE/.git,$GITHUB_WORKSPACE/NESTML.egg-info,$GITHUB_WORKSPACE/pynestml/generated,$GITHUB_WORKSPACE/extras,$GITHUB_WORKSPACE/build,$GITHUB_WORKSPACE/.github || :

      # Tests
      - name: Run unit tests
        run: |
          #pytest -s -o norecursedirs='*'  -o log_cli=true -o log_cli_level="DEBUG" tests || :
          git ls-remote git://github.com/nest/nest-simulator.git | grep refs/heads/master | cut -f 1 > latest_nest_master_commit_hash.txt

      # Install NEST simulator
      - name: NEST simulator cache
        id: nest_simulator_cache
        uses: actions/cache@v2
        env:
          cache-name: nest-simulator-cache
        with:
          path: |
            /home/runner/work/nestml/nest-simulator
            /home/runner/work/nestml/nest_install
          key: nest-simulator-${{ hashFiles('latest_nest_master_commit_hash.txt') }}

      # Install NEST simulator
      - name: NEST simulator
        if: steps.nest_simulator_cache.outputs.cache-hit != 'true'
        run: |
          python -m pip install cython
          echo "GITHUB_WORKSPACE = $GITHUB_WORKSPACE"
          cd $GITHUB_WORKSPACE/..
          NEST_SIMULATOR=$(pwd)/nest-simulator
          NEST_INSTALL=$(pwd)/nest_install
          echo "NEST_SIMULATOR = $NEST_SIMULATOR"
          echo "NEST_INSTALL = $NEST_INSTALL"

          git clone --depth=1 https://github.com/nest/nest-simulator
          mkdir nest_install
          echo "NEST_INSTALL=$NEST_INSTALL" >> $GITHUB_ENV
          cd nest_install
          cmake -DCMAKE_INSTALL_PREFIX=$NEST_INSTALL $NEST_SIMULATOR
          make && make install

      # Install NESTML (repeated)
      - name: Install NESTML
        run: |
          export PYTHONPATH=${{ env.PYTHONPATH }}:${{ env.NEST_INSTALL }}/lib/python3.8/site-packages:/opt/hostedtoolcache/Python/3.8.7/x64/lib/python3.8/site-packages
          echo "PYTHONPATH=$PYTHONPATH" >> $GITHUB_ENV
          python setup.py install

      # Integration tests
      - name: Setup integration tests
        run: |
          cd $GITHUB_WORKSPACE
          # exclude third factor plasticity models; these will only compile successfully if code generation is as a neuron+synapse pair
          export ALL_MODEL_FILENAMES=`find models | tail -n +2 | grep -v third_factor | paste -sd " "`
          nestml --input_path $ALL_MODEL_FILENAMES --target_path target --suffix _nestml --logging_level INFO --module_name nestml_allmodels_module
          cd target
          echo "NEST_INSTALL = ${{ env.NEST_INSTALL }}"
          cmake -Dwith-nest=${{ env.NEST_INSTALL }}/bin/nest-config .
          make && make install

      - name: Run integration tests
        run: |
          cd $GITHUB_WORKSPACE
          rc=0
          for fn in $GITHUB_WORKSPACE/tests/nest_tests/*.py; do
              pytest -s -o log_cli=true -o log_cli_level="DEBUG" ${fn} || rc=1
          done;
          exit $rc
