name: NESTML build
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      # Checkout the repository contents
      - name: Checkout NESTML code
        uses: actions/checkout@v2

      # Setup Python version
      - name: Setup Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      # Install dependencies
      - name: Install apt dependencies
        run: |
          sudo apt install libltdl7-dev libgsl0-dev libncurses5-dev libreadline6-dev pkg-config
          sudo apt install python3-all-dev python3-matplotlib python3-numpy python3-scipy

      # Install Antlr4
      - name: Install Antlr4
        run: |
          sudo apt install openjdk-8-jre
          wget http://www.antlr.org/download/antlr-4.8-complete.jar
          echo \#\!/bin/bash > antlr4
          echo java -cp \"`pwd`/antlr-4.8-complete.jar:$CLASSPATH\" org.antlr.v4.Tool \"\$@\" >> antlr4
          echo >> antlr4
          chmod +x antlr4
          echo PATH=$PATH:`pwd` >> $GITHUB_ENV

      # Install Python dependencies
      - name: Python dependecies
        run: |
          python -m pip install --upgrade pip pytest
          python -m pip install -r requirements.txt
          python -m pip install pycodestyle

      - name: Install latest ode-toolbox
        if: ${{ always() }}
        run: |
          python -m pip uninstall --yes odetoolbox
          python -m pip install git+https://github.com/nest/ode-toolbox.git

      - name: Install NESTML
        if: ${{ always() }}
        run: |
          echo PYTHONPATH=`pwd` >> $GITHUB_ENV
          echo $PYTHONPATH
          python setup.py install

      - name: Generate Lexer and Parser using Antlr4
        if: ${{ always() }}
        run: |
          cd $GITHUB_WORKSPACE
          echo "PATH = $PATH"
          find pynestml/generated -not -name __init__.py -a -not -name generated -delete
          cd pynestml/grammars
          ./generate_lexer_parser

      # Static code analysis
      - name: Static code style analysis
        if: ${{ always() }}
        run: |
          echo "GITHUB_WORKSPACE = $GITHUB_WORKSPACE"
          echo "github.workspace = ${{ github.workspace }}"
          python3 extras/codeanalysis/check_copyright_headers.py && python3 -m pycodestyle $GITHUB_WORKSPACE -v --ignore=E241,E501,E303,E714,E713,E714,E252,W503 --exclude=$GITHUB_WORKSPACE/doc,$GITHUB_WORKSPACE/.git,$GITHUB_WORKSPACE/NESTML.egg-info,$GITHUB_WORKSPACE/pynestml/generated,$GITHUB_WORKSPACE/extras,$GITHUB_WORKSPACE/build,$GITHUB_WORKSPACE/.github

      # Tests
      - name: Run unit tests
        if: ${{ always() }}
        run: |
          pytest -s -o norecursedirs='*'  -o log_cli=true -o log_cli_level="DEBUG" tests

      # Install NEST simulator
      - name: NEST simulator
        if: ${{ always() }}
        run: |
          python -m pip install cython
          echo "GITHUB_WORKSPACE = $GITHUB_WORKSPACE"
          cd $GITHUB_WORKSPACE/..
          echo "Current directory: `pwd`"
          NEST_SIMULATOR=$(pwd)/nest-simulator
          NEST_INSTALL=$(pwd)/nest_install
          echo "NEST_SIMULATOR = $NEST_SIMULATOR"
          echo "NEST_INSTALL = $NEST_INSTALL"

          git clone --depth=1 https://github.com/nest/nest-simulator

          mkdir nest_install
          echo "NEST_INSTALL=$NEST_INSTALL" >> $GITHUB_ENV
          cd nest_install
          cmake -DCMAKE_INSTALL_PREFIX=$NEST_INSTALL $NEST_SIMULATOR
          make && make install

      # Install NESTML (repeated)
      - name: Install NESTML
        if: ${{ always() }}
        run: |
          export PYTHONPATH=${{ env.PYTHONPATH}}:${{ env.NEST_INSTALL }}/lib/python3.7/site-packages:/opt/hostedtoolcache/Python/3.7.9/x64/lib/python3.7/site-packages
          echo "PYTHONPATH=$PYTHONPATH" >> $GITHUB_ENV
          python setup.py install

      # Integration tests
      - name: Run integration tests
        if: ${{ always() }}
        run: |
          cd $GITHUB_WORKSPACE
          nestml --input_path models --target_path target --suffix _nestml --logging_level INFO --module_name nestml_allmodels_module
          cd target
          echo "NEST_INSTALL = ${{ env.NEST_INSTALL }}"
          cmake -Dwith-nest=${{ env.NEST_INSTALL }}/bin/nest-config .
          make && make install
          cd ..
          export PYNESTKERNEL_LOCATION=`find $NEST_INSTALL/lib -name pynestkernel.so`
          export PYNESTKERNEL_LOCATION=`dirname $PYNESTKERNEL_LOCATION`
          echo "PYNESTKERNEL_LOCATION = $PYNESTKERNEL_LOCATION"
          echo "PYTHONPATH = $PYTHONPATH"
          rc=0
          for fn in $GITHUB_WORKSPACE/tests/nest_tests/*.py; do
            echo "Filename: ${fn}"
            pytest -s -o log_cli=true -o log_cli_level="DEBUG" ${fn} || rc=1
          done;
          exit $rc
