{#
  Initialization of param or var if they have a declaring expression
  @param expr ASTExpression declaring expression of the variable
#}
{%- macro SetScalParamAndVar(expr) -%}
{%- if utils.is_declaring_expression_parameter(expr) %}
  *GetScalParam(0, n_node, "{{expr}}")
{%- elif utils.is_declaring_expression_state_varible(expr) %}
  *GetScalVar(0, n_node, "{{expr}}")
{%- else %}
  {{printer_no_origin.print(expr)}}
{%- endif %}
{%- endmacro -%}